* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #111;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    list-style: none;
}


nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search-area {
    display: flex;
    align-items: center;
}

.search-area input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icons span {
    margin-left: 1rem;
    cursor: pointer;
}

.close-icon {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

/* hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    background-color: white;
    min-height: 60vh;
}

.hero-content h1 {
    font-size: 5rem;
    line-height: 0.9;
    margin-bottom: 2rem;
}

.hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg-circle {}